* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;

  background: linear-gradient(#fdd32c, #f7b440, #fca14c, #974ccf, #7533a8);
  background-size: 1% 300%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
