* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #111827;
  /* background: linear-gradient(180deg, rgba(245,163,33,1) 0%, rgba(252,195,5,1) 35%, rgba(255,234,33,1) 100%); */

  background-color: #111827;
  background-image: url('/assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
