---
import QRCode from '../components/qrcode'
import Header from '../components/header'
import Sidenav from '../components/sidenav'

const title = "What's new - Palmeira/PR"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/wn-ico.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play|Arimo|">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z98R9QQKKH"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Z98R9QQKKH');
        </script>
</head>
<body>

    <main>
        <div id="content">
            <Header />

            <div id="qrcode-container">
                <QRCode 
                    client:visible 
                    imagePath="/assets/news-qrcode.png" 
                    imageLegendUrl="/assets/news.png" 
                    url="www.google.com"
                />
                <QRCode 
                    client:visible 
                    imagePath="/assets/announce-qrcode.png" 
                    imageLegendUrl="/assets/announce.png" 
                    url="https://qrfacil.me/QEbYpjMs"
                />
            </div>
        </div>

        <Sidenav />

    </main>
</body>
</html>
