---
import QRCode from '../components/QRCode'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="/wn-ico.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/home.css')}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play|Arimo|">

</head>
<body>

    <div class="content">
        <div class="header">
            <img src="/assets/logo.png" class="logo-small" />
  
            <div style="font-weight: bold; color: white;  border-bottom: 1vmin solid #7533a8; padding-bottom: 2vw; ">
                Quer as melhores novidades de Palmeira ou divulgar sua marca?
            </div>
            
            <div class="main-content-item-legend">
                Clique ou aponte sua câmera para uma das opções!
            </div>

            <div class="main-content">
                <QRCode client:visible imagePath="/assets/news-qrcode.png" imageLegendUrl="/assets/news.png" url="www.google.com"></QRCode>
                <QRCode client:visible imagePath="/assets/announce-qrcode.png" imageLegendUrl="/assets/announce.png" url="www.google.com"></QRCode>
            </div>  
        </div>

        <div class="side-nav">
            <img src="/assets/logo.png" class="logo" />
        </div>

    </div>
</body>
</html>
